/* Global */
* {
	font-family: 'Raleway', sans-serif;
}
h1 {
	font-weight: 800;
}
h2 {
	font-weight: 700;
}
h3 {
	font-weight: 600;
}
h4 {
	font-weight: 500;
}
h5, h6, p{
	font-weight: 400;
}
.headline-center {
	text-align: center;
}
.custom-btn-1 {
	border-color: #68AB8D;
	padding: 0 20px;
	border-radius: 30px;
	background-color: white;
	border-width: 2px;
	color: #68AB8D;
}
.custom-btn-1:hover {
	border-color: #68AB8D;
	background-color: #68AB8D;
	border-width: 2px;
	color: white;
}
.custom-btn-2 {
	border-color: #68AB8D;
	padding: 0 20px;
	border-radius: 30px;
	background-color: white;
	border-width: 2px;
	color: #68AB8D;
}
.custom-btn-2:hover {
	border-color: #68AB8D;
	background-color: #68AB8D;
	border-width: 2px;
	color: white;
}

/* Spacing */
.spacer {
	/*background-color: green;*/
	height: 75px;
}
/* Navigation section */
#nav-bar {
	/*background-color: #68AB8D;*/
	margin: 0 -15px 0 -15px !important;
	padding: 5px 15px !important;
	border: none !important;
	border-radius: 0 !important;
	background-color: white !important;
}
#nav-border {
	margin: 0 -15px 0 -15px;
	background: linear-gradient(to right, #68AB8D, #558970);
	height: 3px;
	width: 120%;
}
#mobile-menu-btn {
	border: none;
	border-radius: none;
	background-color: white;
	margin: 15px 15px;
}
#mobile-menu-bar {
	background-color: #68AB8D;
}
#logo-icon {
	background-image: url("../imgs/logo-icon.svg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 100px;
	margin: 0 0 0 10%;
}

/* Platform Descriptions */
#section-img {
	/*
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	*/
}

/* Platform Description 1 (section-1) */
#section-1-text {
	float: right;
}
#s1-text-normal {
	height: 442px;
	padding: 25% 50px 0 25px;
}
#s1-text-mobile {
	text-align: center;
	padding: 0 0 25px 0;
}

#section-1-img {
	height: 442px;
	background-image: url("../imgs/temp-img-1.png");
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	background-color: blue;
	background-position: center;
}
/*
#s1-img-normal {
	width: 58.3%;
}
#s1-img-mobile {
	width: 50%;
	background-position: top !important;
}
*/
#s1-explore-btn {
	margin-top: 10px;
}

/* Platform Description 2 (section-2) */
#section-2-text {
	height: 442px;
	padding: 90px 0 0 60px;
}

#section-2-img {
	width: 100%;
}

/* Reasons section */
.reason-block {
	display: inline-block;
	padding: 5% 2.5%;
	width: 33%;
}
.reason-block h2 {
	text-align: center;
}
.reason-block h4 {
	text-align: center;
}
.reason-icon {
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
#reason-sustain {
	background-image: url("../imgs/reason-sustainable.svg");
}
#reason-access {
	background-image: url("../imgs/reason-access.svg");
}
#reason-afford {
	background-image: url("../imgs/reason-afford.svg");
}

/* Pricing Section */
.price-block {
	display: inline-block;
	margin: 4% 0 0 0;
	width: 33%;
}

