/* Global */
.headline-center {
	text-align: center;
}

/* Spacing */
.spacer {
	/*background-color: green;*/
	height: 75px;
}
/* Navigation section */
#nav-bar {
	/*background-color: #68AB8D;*/
	margin: 0 -15px 0 -15px;
	padding: 0 15px;
	border: none;
	border-radius: 0;
	background-color: white;
}
#nav-border {
	margin: 0 -15px 0 -15px;
	background: linear-gradient(to right, #68AB8D, #558970);
	height: 3px;
	width: 120%;
}
#nav-bar h4 {
	color: #558970;
}
#nav-bar h4:hover {
	color: white;
}
#mobile-menu-btn {
	border: none;
	border-radius: none;
	background-color: white;
	margin: 15px 15px;
}
#mobile-menu-btn:hover{
	color: white;
}
#mobile-menu-bar {
	background-color: #68AB8D;
}
#logo-icon {
	background-image: url("../imgs/logo-icon.svg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 100px;
	margin: 0 0 0 10%;
}

/* Platform Descriptions */
#section-img {
	/*
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	*/
}

/* Platform Description 1 (section-1) */
#section-1-text {
	height: 442px;
	/*background-color: red;*/
	padding: 125px 50px 0 25px;
}

#section-1-img {
	/*background-color: blue;*/
	background-image: url("../imgs/temp-img-1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 442px;
}

/* Platform Description 2 (section-2) */
#section-2-text {
	height: 442px;
	padding: 90px 0 0 60px;
}

#section-2-img {
	width: 100%;
}

/* Reasons section */
.reason-block {
	display: inline-block;
	padding: 5% 2.5%;
	width: 33%;
}
.reason-block h2 {
	text-align: center;
}
.reason-block h4 {
	text-align: center;
}
.reason-icon {
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
#reason-sustain {
	background-image: url("../imgs/reason-sustainable.svg");
}
#reason-access {
	background-image: url("../imgs/reason-access.svg");
}
#reason-afford {
	background-image: url("../imgs/reason-afford.svg");
}

/* Pricing Section */
.price-block {
	display: inline-block;
	margin: 4% 0 0 0;
	width: 33%;
}

